<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <div *ngIf="isLoading" class="fixed inset-0 bg-white bg-opacity-80 flex items-center justify-center z-50">
    <img src="\icon\icons8-pencil.gif" alt="Cargando..." class="animate-spin w-16 h-16">
  </div>

  <div class="row">
    <!-- Formulario a la izquierda -->
    <div class="col-md-12">

      <form *ngIf="!isLoading" [formGroup]="getCurrentForm()" (ngSubmit)="onSubmit()" class="card bg-dark text-light p-4 shadow-lg mb-3">
        <h2 class="card-title mb-4 text-capitalize">Formulario de {{ tipo }}</h2>

        <ng-container [ngSwitch]="tipo">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" formControlName="name" class="form-control bg-secondary text-light border-0" [ngClass]="{'is-invalid': hasError('name', 'required')}" />
            <div *ngIf="hasError('name', 'required')" class="invalid-feedback">El nombre es obligatorio</div>
          </div>

          <div class="mb-3" *ngIf="tipo !== 'subscripcion'">
            <label class="form-label">Descripción</label>
            <input type="text" formControlName="description" class="form-control bg-secondary text-light border-0" />
          </div>

          <div class="mb-3">
            <label class="form-label">Fecha de compra</label>
            <input type="datetime-local" formControlName="fechaCompra" class="form-control bg-secondary text-light border-0" [ngClass]="{'is-invalid': hasError('fechaCompra', 'required')}" />
            <div *ngIf="hasError('fechaCompra', 'required')" class="invalid-feedback">La fecha es obligatoria</div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Total</label>
              <input type="number" formControlName="total" class="form-control bg-secondary text-light border-0" [ngClass]="{'is-invalid': hasError('total', 'min')}" />
            </div>
            <div class="col">
              <label class="form-label">IVA</label>
              <input type="number" formControlName="iva" class="form-control bg-secondary text-light border-0" />
            </div>
          </div>

          <ng-container *ngSwitchCase="'ticket'">
            <div class="mb-3">
              <label class="form-label">Tienda</label>
              <input type="text" formControlName="store" class="form-control bg-secondary text-light border-0" />
            </div>
            <div class="mb-3">
              <label class="form-label">Productos JSON</label>
              <textarea formControlName="productsJSON" class="form-control bg-secondary text-light border-0"></textarea>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'subscripcion'">
            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Inicio</label>
                <input type="datetime-local" formControlName="start" class="form-control bg-secondary text-light border-0" />
              </div>
              <div class="col">
                <label class="form-label">Fin</label>
                <input type="datetime-local" formControlName="end" class="form-control bg-secondary text-light border-0" />
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Día de reinicio</label>
                <input type="number" formControlName="restartDay" class="form-control bg-secondary text-light border-0" />
              </div>
              <div class="col">
                <label class="form-label">Intervalo</label>
                <input type="number" formControlName="intervalTime" class="form-control bg-secondary text-light border-0" />
              </div>
            </div>

            <div class="form-check mb-3">
              <input type="checkbox" formControlName="activa" class="form-check-input" />
              <label class="form-check-label">Activa</label>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'gasto'">
        <div class="mb-3">
          <label class="form-label">Tipo de gasto</label>
          <select formControlName="typeExpense" class="form-control bg-secondary text-light border-0" [ngClass]="{'is-invalid': hasError('typeExpense', 'required')}">
            <option *ngFor="let expenseType of expenseTypes" [value]="expenseType">{{ expenseType }}</option>
          </select>
          <div *ngIf="hasError('typeExpense', 'required')" class="invalid-feedback">El tipo de gasto es obligatorio</div>
        </div>
      </ng-container>

        </ng-container>

        <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select formControlName="categoriaId" class="form-control bg-secondary text-light border-0" [ngClass]="{'is-invalid': hasError('categoriaId', 'required')}">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <div *ngIf="hasError('categoriaId', 'required')" class="invalid-feedback">La categoría es obligatoria</div>
      </div>

        <button type="submit" class="btn btn-primary mt-3 w-100">Guardar</button>

      </form>

        <button *ngIf="id !== 0" (click)="onDelete()" class="btn btn-danger mt-3 w-100 card bg-dark text-light mb-3">Eliminar</button>



    </div>

    <!-- Editor de productos a la derecha -->
    <div class="col-md-12 ">
      <app-form-productos *ngIf="tipo === 'ticket'" [productos]="productosLocal" (productosConfirmados)="onProductosConfirmados($event)"></app-form-productos>
    </div>


  </div>


</div>
