ServidorServicioOCR/ServidorPython/server/Utiles/Aplicaciones_GPT.ipynb
ServidorServicioOCR/ServidorPython/server/Utiles/Interactuar_con_GPT3.ipynb
ServidorServicioOCR/ServidorPython/server/Utiles/Interactuar_con_GPT3.ipynb
