<!-- Elimina el botón y el *ngIf="mostrarDetalle" -->
<div class="m-4">
  <div class="mb-4">
    <p *ngIf="gasto.description"><strong>Descripción:</strong> {{gasto.description}}</p>
    <p *ngIf="gasto.iva"><strong>IVA</strong>: {{gasto.iva}}%</p>
    <div class="text-start mt-3">
      <button class="btn btn-sm btn-outline-light me-2" (click)="exportToCSV()">Descargar CSV</button>
      <button class="btn btn-sm btn-outline-light" (click)="exportToPDF()">Descargar PDF</button>
    </div>
  </div>

  <div *ngIf="gasto.typeExpense === 'TICKET'">

    <div class="row">
      <div class="col-md-6">
        <h5>Gráfico: Gasto por Producto</h5>
        <canvas baseChart [data]="chartProductos" [type]="'doughnut'"></canvas>
      </div>

      <div class="col-md-6">
        <h5>Gráfico: Gasto por Categoría</h5>
        <canvas baseChart [data]="chartCategorias" [type]="'pie'"></canvas>
      </div>
    </div>
  </div>

  <div *ngIf="gasto.typeExpense === 'SUBSCRIPCION'">
    <p><strong>Acumulado</strong>: {{gasto.accumulate}}€</p>
    <p>Fecha de renovación: {{ fechaRenovacion | date }}</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="((totalDias - diasRestantes) / totalDias) * 100"
        [attr.aria-valuenow]="totalDias - diasRestantes"
        aria-valuemin="0"
        [attr.aria-valuemax]="totalDias"
      >
        {{ diasRestantes }} días restantes
      </div>
    </div>
  </div>

</div>
