<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Backend</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .navbar-brand img {
          height: 40px;
          margin-right: 10px;
        }
        footer {
          background-color: #343a40;
          color: #ffffff;
        }
    </style>
</head>
<body>
<!-- Header con el menú dropdown -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/admin/dashboard}" >API</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/usuario/usuarios}" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                        <li><a class="dropdown-item"  th:href="@{/admin/usuario/tipoUsuario}">Tipo de Usuario</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/usuario/usuarios}">Usuarios</a></li>
                        <li><a class="dropdown-item"  th:href="@{/admin/log/logUsuarios}">Logs de Usuario</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/personaje/personajes}" id="personajesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Personajes
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="personajesDropdown">
                        <li><a class="dropdown-item"  th:href="@{/admin/personaje/personajes}">Personajes</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/tipoPersonaje}">Clases</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesItems}">Inventarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesHabilidades}">Habilidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesLogros}">Logros</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/personaje/personajesMisiones}">Misiones</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/monstruo/monstruos}" id="monstruosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Monstruos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="monstruosDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/tipoMonstruo}">Tipo de Monstruo</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/monstruos}">Monstruos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/monstruosItems}">Monstruos y Drops</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/monstruo/monstruosHabilidades}">Monstruos y Habilidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/log/logJugadores}">Registro de Jugador y Monstruo</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/item/items}" id="itemsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Items
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/item/tipoItem}">Tipo de Item</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/item/items}">Items</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/item/itemsEfectos}">Items y efectos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/log/logTransacciones}">Transacciones NPC-Jugador</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/grupo/grupos}" id="gruposDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Grupos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="gruposDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/grupo/tipoGrupo}">Tipo de Grupo</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/grupo/grupos}">Grupos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/grupo/lideresGrupos}">Lideres</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/misiones/npcs}" id="misionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Misiones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="misionDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/mision/misiones}">Misiones</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mision/misionesItems}">Misiones recompensas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/mapa/mapas}" id="mapasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mapas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mapasDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/tipoMapa}">Tipo de Mapa</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/mapas}">Mapas</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/mapasEfecto}">Mapas y Efectos</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/mapa/mapasMonstruo}">Mapas y Monstruos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/npc/npcs}" id="npcsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NPCs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="npcsDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/npc/tipoNpc}">Tipo de NPC</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/npc/npcsItems}">Tiendas de NPC</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/npc/npcs}">NPCs</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/admin/habilidad/habilidades}" id="habilidadesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Habilidades
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="habilidadesDropdown">
                        <li><a class="dropdown-item" th:href="@{/admin/habilidad/habilidades}">Habilidades</a></li>
                        <li><a class="dropdown-item" th:href="@{/admin/habilidad/habilidadesEfectos}">Efectos de habilidad</a></li>
                    </ul>
                </li>
                <li class="nav-item active" ><a class="nav-link" th:href="@{/admin/estado/estados}">Efectos de Estado</a></li>
                <li class="nav-item active" ><a class="nav-link"  th:href="@{/admin/estadistica/estadisticas}" >Estadisticas</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Mensaje de Error si ocurre algún problema -->
<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>


<!-- Contenido principal -->
<div class="container mt-4">
    <h1 class="mb-4">Panel de control (Dashboard)</h1>
    <div class="card">
        <div class="card-body">
            <h2>Bienvenido al Dashboard</h2>

            <!-- Mostrar el nombre de usuario -->
            <p>Usuario: <span th:text="${usuario}"></span></p>

            <!-- Mostrar el rol del usuario -->
            <p>Rol: <span th:text="${roles}"></span></p>

            <!-- Si el usuario tiene el rol ADMIN -->
            <div th:if="${roles.contains('ROLE_ADM')}">
                <p>Acceso concedido al panel de administrador</p>
            </div>

            <!-- Si no tiene el rol adecuado -->
            <div th:if="${!roles.contains('ADM')}">
                <p style="color: red;">No tienes permisos para ver esta página.</p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="mt-5 py-3">
    <div class="container text-center">
        <p class="mb-0">Backend V1.0 Acceso a Datos DAM Laureano</p>
    </div>
</footer>


<!-- Agregar Bootstrap JS para que los dropdowns funcionen -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/js/validadorDashboard.js"></script>
</body>
</html>
