<!-- <div class="container py-4">
  <h2 class="mb-4">Gastos Semanales</h2>
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [chartType]="'line'">
  </canvas>
</div>

// gastos-barras.component.html
<div class="container py-4">
  <h2 class="mb-4">Gastos Mensuales</h2>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [chartType]="'bar'">
  </canvas>
</div>

-->




<div class="container py-4 mb-5 mt-5">

  <h3 class="text-light">Historial</h3>

  <div class="row">
<!-- Columna derecha -->
    <div class="col-md-6 mt-3">
      <!-- Columna derecha: Barras -->
      <div class="card shadow-sm bg-dark text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Gastos por Mes 2025</h5>
          <canvas baseChart
                  [data]="monthlyChartData"
                  [options]="darkChartOptions"
                  [type]="'bar'">
          </canvas>
        </div>
      </div>



    </div>

    <!-- Columna derecha -->
    <div class="col-md-6 mt-3">
      <!-- Columna derecha: Barras -->
      <div class="card shadow-sm bg-dark text-white mb-3">
        <div class="card-body">
          <h5 class="card-title">Gastos por Mes 2024</h5>
          <canvas baseChart
                  [data]="monthlyChartData"
                  [options]="darkChartOptions"
                  [type]="'bar'">
          </canvas>
        </div>
      </div>



    </div>


  </div>
</div>
