#pip install -r requirements.txt
#pip install --no-cache-dir -r requirements.txt
Flask
python-dotenv
pydantic
Pillow
openai==0.28
Werkzeug
pytz
flasgger
ratelimit
cachetools
requests

# OCR y procesamiento de imágenes
pytesseract
opencv-python
numpy
