#pip install -r requirements.txt
#pip install --no-cache-dir -r requirements.txt
#.\venv\Scripts\activate


Flask
python-dotenv
pydantic
Pillow
openai==0.28.0
Werkzeug
pytz
flasgger
ratelimit
cachetools
requests
pytesseract
opencv-python
numpy
pdf2image
flask-cors
