<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Iniciar Sesión</h2>
            <form id="loginForm">
                <div class="form-group">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" class="form-control" id="correo" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
            </form>
            <div class="text-center mt-3">
                <a th:href="@{/auth/register}" class="btn btn-link">¿No tienes una cuenta? Regístrate</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Previene el envío por defecto del formulario

        const correo = document.getElementById("correo").value;
        const contraseña = document.getElementById("contraseña").value;

        fetch('/auth/loginToken', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                correo: correo,
                contraseña: contraseña
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.token) {
                // Almacenar el token en el localStorage
                localStorage.setItem('token', data.token);

                // Imprimir el token almacenado en consola
                console.log("Token almacenado:", localStorage.getItem('token'));

                // Redirigir al dashboard
                setTimeout(function() {
                window.location.href = '/admin/dashboard';
            }, 1000); // Redirigir después de 1 segundos


            } else {
                alert("Error en el login: " + (data.error || "Error desconocido"));
            }
        })
        .catch(error => {
            alert("Error al intentar iniciar sesión: " + error.message);
        });
    });

</script>


</body>
</html>
