<!-- Llamado a la acción destacado -->
<section style="padding: 5rem 2rem; text-align: center;">
  <h2 style="font-size: 2rem; margin-bottom: 1rem;">{{title}}</h2>
  <p style="max-width: 600px; margin: 0 auto;">{{text}}</p>


  <button (click)="redirectTo(buttonredirect)" *ngIf="buttomstyle==1" style="margin-top: 2rem; padding: 1rem 2rem; background-color: #f0f0f0; color: #000; border: none; border-radius: 10px; font-weight: bold;">
    {{buttomtext}}
  </button>

  <button (click)="redirectTo(buttonredirect)" *ngIf="buttomstyle==2" style="margin-top: 20px; background-color: #000; color: #ffffff; border: 2px solid #f3f3f3; padding: 12px 24px; border-radius: 30px; font-size: 1rem; cursor: pointer;">
    {{buttomtext}}
  </button>
</section>
