<div class="mycontainer d-flex justify-content-center align-items-center vh-100" style="background-image: url('/imgHD/wall0.jpg');background-size: contains;">
    <div class="login-container shadow-lg rounded p-5">
      <div class="text-center mb-5">
        <img src="/icon/gesthor1.png" alt="Logo" class="logo mb-5">
        <h2 class="text-light">Restablecer Contraseña</h2>
        <p class="text-light">Ingresa tu correo electrónico para recibir instrucciones sobre cómo restablecer tu contraseña.</p>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="email" class="form-label text-light">Correo Electrónico</label>
            <input id="email" type="email" placeholder="Correo electrónico" formControlName="email" class="form-control" />

            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger mt-2">
              <small *ngIf="email?.hasError('required')">Este campo es obligatorio.</small>
              <small *ngIf="email?.hasError('email')">Por favor ingresa un correo electrónico válido.</small>
            </div>
          </div>


        <button type="submit" class="btn btn-primary w-100 mb-3" [disabled]="isLoading">Enviar Enlace</button>

        <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
        <div *ngIf="success" class="alert alert-success mt-3">{{ success }}</div>
      </form>

      <div class="mt-4 text-center">
        <a routerLink="/login" class="text-decoration-none text-primary">Volver al login</a>
      </div>
    </div>
  </div>
