.login-container {
    background: rgba(0, 0, 0, 0.713);
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 1 4px 10px rgba(0, 0, 0, 0.85);
    border: 0px solid rgba(213, 174, 55, 0.3);
  }

  .logo {
    width: 300px;
    height: 160px;
    object-fit: cover;
  }

  input[type="email"] {
    padding-right: 40px;
  }

  button {
    transition: transform 0.3s ease;
  }

  button:hover {
    transform: scale(1.1);
  }

  button i {
    font-size: 1.25rem;
  }

  .alert {
    text-align: center;
  }

  a {
    color: #1e90ff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
