<li class="list-group-item bg-dark text-light d-flex justify-content-center align-items-center border-secondary" >
  <div class="position-relative mt-4 mb-4" style="width: 250px; height: 250px;">

    <img
      *ngIf="profile != undefined"
      [src]="img ? (server + img) : '/icon/icons8-cuenta-de-prueba-100.png'"
      alt="Perfil"
      class="w-100 h-100 rounded shadow"
      style="object-fit: cover; border: 4px solid white;" />
    <button type="button"
            class="btn btn-light btn-sm position-absolute bottom-0 end-0 m-3 p-2 rounded-circle shadow"
            (click)="fileInput.click()"
            title="Editar foto de perfil">
      <img [src]="icon" style="height: 25px;">
    </button>

    <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/*" />
  </div>
</li>
