<footer class="footer mt-auto py-4 text-center text-light" style="background-color: #000;">
  <ul class="nav justify-content-center mb-3" style="border-bottom: 1px solid #e7e6e1;">
    <li *ngFor="let e of enlaces" class="nav-item">
      <a [routerLink]="[e[1]]" class="nav-link px-3" style="color: #e6e4db; transition: color 0.3s;">
        {{ e[0] | titlecase }}
      </a>
    </li>
  </ul>
  <p style="color: #888;">© {{ fecha }} {{ comania | titlecase }} · Todos los derechos reservados.</p>
</footer>
