<div class="navbar-container" style="z-index: 1000; ">
  <nav class="navbar  fixed-bottom  ">
      <div class="container-fluid d-flex justify-content-center align-items-center" style=" background-color: #292929c4; box-shadow: 0px 0px 10px 5px Black;  ">

          <div class="nav-column" style="flex: 1; display: flex; justify-content: center; text-align: center;">
              <button class="nav-button btn" (click)="navigateTo('/protected/home')">
                  <img src="icon/icons8-home-48 (1).png" alt="Inicio" class="nav-icon" style="width: 30px; height: 30px;">
                  <span class="nav-text" style="display: block; margin-top: 0px; font-size: 11px; color: white;">Inicio</span>
              </button>
          </div>

          <div class="nav-column" style="flex: 1; display: flex; justify-content: center; text-align: center;">
              <button class="nav-button btn" (click)="navigateTo('/protected/home')">
                  <img src="icon/icons8-statistics-48 (1).png" alt="Buscar" class="nav-icon" style="width: 30px; height: 30px;">
                  <span class="nav-text" style="display: block; margin-top: 0px; font-size: 11px; color: white;">Gastos</span>
              </button>
          </div>

          <div class="nav-column" style="flex: 1; display: flex; justify-content: center; text-align: center;">
              <button class="center-button btn" (click)="navigateTo('/protected/tools')"
              style="position: absolute; top: -20px; width: 60px; height: 60px; border-radius: 50%; background-color: #656565; z-index: 1001; box-shadow: 0px 0px 15px 5px Black;">
                  <img src="icon/icon.png" alt="Menú" class="nav-icon" style="width: 30px; height: 30px;">
              </button>
          </div>

          <div class="nav-column" style="flex: 1; display: flex; justify-content: center; text-align: center; ">
              <button class="nav-button btn" (click)="navigateTo('/protected')">
                  <img src="icon/icons8-ai-50.png" alt="Favoritos" class="nav-icon" style="width: 30px; height: 30px; ">
                  <span class="nav-text" style="display: block; margin-top: 0px; font-size: 11px; color: white; ">AI Chat</span>
              </button>
          </div>

          <div class="nav-column" style="flex: 1; display: flex; justify-content: center; text-align: center;">
              <button class="nav-button btn" (click)="navigateTo('/private/dashboard')">
                  <img src="icon/icons8-male-user-48 (1).png" alt="Perfil" class="nav-icon" style="width: 30px; height: 30px;">
                  <span class="nav-text" style="display: block; margin-top: 0px; font-size: 11px; color: white;">Perfil</span>
              </button>
          </div>

      </div>
  </nav>
</div>
