<section class="container" style=" text-align: center;">
    <h2 class="mb-5 mt-0">{{title}}</h2>


  <div id="carouselExampleDark" class="carousel  " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let group of chunkedImages; let i = index" class="carousel-item" [ngClass]="{ active: i === 0 }">
        <div class="row">
          <div class="col" *ngFor="let img of group">
            <img [src]="img" class="d-block w-100" alt="..." />
          </div>
        </div>
      </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

   <p class="mt-5" >{{text}}</p>
</section>
