<section style="display: flex; flex-wrap: wrap;">
  <div
    style="flex: 1; min-width: 300px; clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); height: 400px;"
    [ngStyle]="{
      'background-image': 'url(' + img + ')',
      'background-position': 'center',
      'background-size': 'cover',
      'background-repeat': 'no-repeat'
    }">
  </div>
  <div style="flex: 1; min-width: 300px;  display: flex; align-items: center; justify-content: center; padding: 2rem;">
    <div>
      <h2 style="font-size: 2rem; margin-bottom: 1rem;">{{ title }}</h2>
      <p>{{ text }}</p>
    </div>
  </div>
</section>
