<li class="list-group-item bg-dark text-light border-secondary">
  <div class="d-flex justify-content-between align-items-center" *ngIf="!editando; else editTemplate">
    <span>{{ label }}: {{ value }}</span>
    <button class="btn btn-outline-light btn-sm" (click)="activarEdicion()" [disabled]="disabled">Editar</button>
  </div>

  <ng-template #editTemplate>
    <div class="d-flex flex-column flex-md-row align-items-center gap-2 mt-2 row " style="padding-right: 5%; padding-left: 5%;">
      <span class="col-12">{{ label }}:</span>
      <input [(ngModel)]="valorTemporal" class="form-control col-10" />
      <div class="d-flex gap-2">
        <button class="btn btn-success btn-sm" (click)="guardar()">Confirmar</button>
        <button class="btn btn-secondary btn-sm" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </ng-template>
</li>
